html {
	background:  
  		linear-gradient(
  			rgba(230,230,230, 0.1), rgba(50,50,50, 0.1)),
  		url("./imgs/graygrid.jpg") repeat;
  	background:
  		-moz-linear-gradient(
  			rgba(230,230,230, 0.1), rgba(50,50,50, 0.1)),
  		url("./imgs/graygrid.jpg") repeat;
	height: 100%;
	min-height: 100%;
}


/* --- BODY --- */
body {
	margin-top: 0 !important;
	margin-left: 17%;
	margin-right: 17%;
	width: 66%;
	height: 100%;
	min-height: 100%;
	background: linear-gradient(#FAFAFA, whitesmoke);
	box-shadow: 0px -10px 45px 10px gray;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

/* --- MOBILE VIEW --- */
@media only screen and (max-device-width: 500px) { 
	body {
		min-width: 100%;
		width: 100%;
		box-shadow: none;
		margin: 0;
	}
	header {
		min-width: 100%;
		width: 100%;
	}
	#first_name, #last_name{
		font-size: 100px;
	}
	#roles {
		font-size: 40px;
	}
	#self {
		width: 500px;
		height: 500px;
		margin: 0 auto;
		display: block;
	}
	#links a {
		font-size: 1em;
		color: gray;
	}
}


/* --- BODY TEXT --- */
#main {
	overflow: auto;
}
#main_content {
	margin: 8% 0% 5% 8%;
	width: 45%;
	float: left;
	font-weight: bold;
}
#main_content ul {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 2.1em;
}
#main_content ul li{
    padding-top: 5px;
    color: #404040;
}
#main_content a {
	text-decoration: none;
	color: #404040;
}
.material-icons {
	color: rgba(0, 0, 0, 0.5);
	font-size: 32px;
	padding-right: 5px;
	vertical-align: middle;
}


/* --- "MARK HENSEL" --- */
header {
	letter-spacing: 1px;
	font-family: "Inconsolata", monospace;
	white-space: nowrap;
    overflow: hidden;
    width: 95%;
    border-right: 0.45em solid transparent;    
    padding-right: 0px;
    animation: cursor_appear 0s linear 1s forwards,
    		   type 1.5s steps(11, end) 1s, 
               blink 1s step-end 3s infinite;
    -webkit-animation: cursor_appear 0s linear 1s forwards,
               type 1.5s steps(11, end) 1s, 
               blink 1s step-end 3s infinite;

}
#first_name, #last_name {
	display: inline;
	font-size: 60px;
	color: transparent;
	/*margin-top: -5px;*/
	/*font-weight: bold;*/
}
#first_name {
	animation: first_appear 0s linear 1s forwards;
}
#last_name {
	animation: last_appear 0s linear 1s forwards;
}

/* TEXT TYPING */
@keyframes type {
    from { width: 0 }
    to { width: 95% }
}
@-webkit-keyframes type {
    from { width: 0 }
    to { width: 95% }
}
/* FIRST NAME APPEAR */
@keyframes first_appear {
    from { color: transparent }
   	to { color: firebrick }
}
@-webkit-keyframes first_appear {
    from { color: transparent }
   	to { color: firebrick }
}
/* LAST NAME APPEAR */
@keyframes last_appear {
    from { color: transparent }
   	to { color: #243ABA }
}
@-webkit-keyframes last_appear {
    from { color: transparent }
   	to { color: #243ABA }
}
/* CURSOR APPEAR */
@keyframes cursor_appear {
    from { border-color: transparent }
   	to { border-color: black }
}
@-webkit-keyframes cursor_appear {
    from { border-color: transparent }
   	to { border-color: black }
}
/* CURSOR BLINK */
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}
@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}



/* --- ROLES --- */
#roles {
	font-style: italic;
	font-size: 18px;
	line-height: 1.75em;
}


/* --- PORTRAIT --- */
#self {
	float: right;
	width: 35%;
	height: 30%;
	margin: 2% 7% 6% 0;
	border-radius: 70%;
	box-shadow: 0px 3px 20px 2px gainsboro;
}


/* --- LINKS --- */
#links {
	float: left;
	text-align: center;
	width: 100%;
	line-height: 2em;
	font-size: 1.15em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: gainsboro;
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
}
#links a {
	font-weight: bold;
	width: 50px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	border-right: 1px gray solid;
	color: midnightblue;
	/*vertical-align: middle;*/
}
#links a:hover {
	color: darkred;
}
#links #last_link {
	border: none;
}
.icons img {
	max-width: 16px;
	max-height: 16px;
	padding-right: 3px;
	/*vertical-align: middle;*/
}