html {
	background-color: gainsboro;
}

body { 
	margin-top: -10px;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	background-color: whitesmoke;
}

#main {
	border-bottom: 1px lightgray solid;
}

#name {
	text-align: center;
}

footer {
	background-color: whitesmoke;
}

footer figure {
	float: right;
}

footer p {
	float: left;
	text-align: right;
	margin-top: 25px;
}

#self {
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
}

a {
	text-decoration: none;
}