html {
	background: linear-gradient(#DDDDDD, darkgray); /* Standard syntax */
	background: -webkit-linear-gradient(#DDDDDD, darkgray); /* Safari support */
  	background: -moz-linear-gradient(#DDDDDD, darkgray); /* Firefox support */
	height: 100%;
	min-height: 100%;
}

/* --- BODY --- */
body {
	margin-top: 0 !important;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height: 100%;
	min-height: 100%;
	background: linear-gradient(#FAFAFA, whitesmoke);
	box-shadow: 0px -10px 45px 10px gray;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	/*-webkit-box-shadow: 0px 20px 25px 10px gray; /* Firefox support */*/
	/*-moz-box-shadow: 0px 20px 25px 10px gray; /* Safari support */*/

	/*border: 20px cornflowerblue solid;*/
}

/* --- BODY TEXT --- */
#main {
	overflow: auto;
}
#main_content {
	/*width: 70%;*/
	margin: 5% auto 0 5%;
	float: left;
	font-weight: bold;
}


/* --- "MARK HENSEL" --- */
#first_name, #last_name {
	/*text-align: center;*/
	display: inline;
	padding-top: 30px;
	/*padding-bottom: 15px;*/
	margin: 10px 0 0 0;
	font-size: 50px;
	font-variant: small-caps;
	font-weight: bold;
	/*color: gray;*/
}
#first_name {
	color: darkred;
}
#last_name {
	color: midnightblue;
}


/* --- LINKS --- */
#links {
	float: left;
	text-align: center;
	/*clear: both;*/
	width: 100%;
	line-height: 2em;
	padding: 10px;
	/*padding-left: 5%;*/
	background-color: gainsboro;
}
#links a {
	font-weight: bold;
	width: 50px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	border-right: 1px gray solid;
	color: midnightblue;
}
#links a:hover {
	color: darkred;
}
#links #last_link {
	border: none;
}


/* --- PORTRAIT --- */
#self {
	float: right;
	/*display: block;*/
	/*z-index: 999;*/
	width: 250px;
	height: 250px;
	margin: 5px 30px 20px auto;
	border-radius: 70%;
}


/* --- FOOTER --- */
/*
footer {
	background-color: whitesmoke;
	border-top: 1px gainsboro solid;
	overflow: auto;
	width: 60%;
	position: absolute;
	bottom: 0;
	right: 20%;
	margin-right: -20px;
}

#footer_content {
	float: right;
}

footer p {
	float: left;
	text-align: right;
	margin-top: 25px;
	line-height: 1.5em;
}
*/
